/* * { border: 1px solid black; } */

:root{
    --cnode-vertical-height:4vh;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
  }  

#main{
    display: flex;
    margin: 0;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

#left{
    display: block;
    height: 100vh;
    width: 25%;
    border-right: .1vw solid #999;
}

#left h1{
    text-align: center;
    text-decoration: underline solid #999;
}

#tasks, #done{
    height: 44%;
    border-bottom: .1vw solid #bbb;
    overflow-y: auto;
}

#taskslist li div, #donelist li div{
    border-radius: 1vh;
    height: 5vh;
    margin: 3vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

#one div, .one{
    background-color: #9ee;
}

#two div, .two{
    background-color: #e9e;
}

#three div, .three{
    background-color: #ee9;
}

#four div, .four{
    background-color: #99e;
}

#five div, .five{
    background-color: #9e9;
}

#six div, .six{
    background-color: #e99;
}

a.v:hover, a.x:hover, a.add:hover, a.resetbutton:hover{
    cursor: pointer;
}

#v{
    padding-left: 1vw;
    font-weight: bold;
    color: white;
    font-size: 2vh;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#x{
    padding-right: 1vw;
    font-weight: bold;
    color: white;
    font-size: 2vh;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#left h2{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

input{
    border: 0;
    font-size: 1.5vh;
}

#resetbutton{
    font-size: 3vh;
}

#reset p{
    margin-top: 3vh;
    text-align: center;
}

#right{
    width: 75%;
}

#calendar{
    height: 83vh;
    overflow-y: auto;
    border-bottom: .1vw solid #999;
    display: flex;
}

#calendar ul {
    margin: 0;
    margin-top: 1vh;
}

#times{
    margin-top: 0 !important;
    margin-right: .5vw !important;
    margin-left: .5vw !important;
}

#times p{
    margin: 0;
}

#times div{
    height: var(--cnode-vertical-height);
    margin: 0;
    padding: 0;
}

#calendarnode{
    height: Calc(var(--cnode-vertical-height) - 4px);
    border: 1px solid #ddd;
    font-size: 2vh;
    width: 9vw;
    padding-left: .5vw;
    padding-right: .5vw;
}

.currentnode{
    border: 1px solid #f00 !important;
}

#nowwork{
    text-align: center;
    font-size: 3.3vh;
}

#bar{
    background-color: red;
    position: relative;
    padding-left: 5vw;
    padding-right: calc(5vw + 2px);
    height: .5vh;
    width: 101%;
    transform: translate(calc(-40vw - 8px), calc(1vh + 480vh));
}

#calendar input, #calendar select, #calendar input:focus{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

